<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add a new Daycare Worker</title>
</head>
<body>

<form action="#" th:action="@{/addDaycareworker}" th:object="${daycareWorker}" method="post">
  <label for="name">Full name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Full name">
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
  <label for="address">Address</label>
  <input type="text" th:field="*{address}" id="address" placeholder="Address">
  <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
  <label for="location">Location</label>
  <input type="text" th:field="*{location}" id="location" placeholder="Location">
  <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>
  <input type="submit" value="Add Daycare Worker">
</form>

</body>
</html>